
{%- liquid
  assign block_settings = block.settings
  assign text = block_settings.text
-%}

<div
  class="text-block text-{{ block_settings.alignment }} {{ block_settings.type_preset | default: 'rte' }} spacing-style"
  style="
    {% render 'typography-style', settings: block_settings %}
    {% render 'spacing-style', settings: block_settings %}
    --width: {{ block_settings.width | default: 'fit-content' }};
  "
  {{ block.shopify_attributes }}
>
  {% if text != blank %}
    {{ text }}
  {% endif %}
</div>

{% schema %}
{
  "name": "t:names.text",
  "tag": null,
  "settings": [
    { "type": "liquid", "id": "text", "label": "t:settings.text", "default": "<h3>{{ closest.collection.title }}</h3>" },
    { "type": "select", "id": "type_preset", "label": "t:settings.text_style", "default": "rte", "options": [ { "value": "rte", "label": "t:options.rte" }, { "value": "paragraph", "label": "t:options.paragraph" }, { "value": "h6", "label": "t:options.heading_small" }, { "value": "h5", "label": "t:options.heading_medium" }, { "value": "h4", "label": "t:options.heading_large" }, { "value": "custom", "label": "t:options.custom" } ] },
    { "type": "select", "id": "font", "label": "t:settings.font", "default": "var(--font-body--family)", "options": [ { "value": "var(--font-body--family)", "label": "t:options.body" }, { "value": "var(--font-heading--family)", "label": "t:options.heading" } ] },
    { "type": "text", "id": "font_size", "label": "t:settings.font_size", "default": "1rem" },
    { "type": "select", "id": "line_height", "label": "t:settings.line_height", "default": "normal", "options": [ { "value": "normal", "label": "t:options.normal" }, { "value": "tight", "label": "t:options.tight" }, { "value": "relaxed", "label": "t:options.relaxed" } ] },
    { "type": "select", "id": "letter_spacing", "label": "t:settings.letter_spacing", "default": "normal", "options": [ { "value": "normal", "label": "t:options.normal" }, { "value": "wide", "label": "t:options.wide" } ] },
    { "type": "select", "id": "case", "label": "t:settings.case", "default": "none", "options": [ { "value": "none", "label": "t:options.none" }, { "value": "uppercase", "label": "t:options.uppercase" }, { "value": "lowercase", "label": "t:options.lowercase" } ] },
    { "type": "select", "id": "wrap", "label": "t:settings.wrap", "default": "pretty", "options": [ { "value": "pretty", "label": "t:options.pretty" }, { "value": "balance", "label": "t:options.balance" }, { "value": "nowrap", "label": "t:options.no_wrap" } ] },
    { "type": "select", "id": "width", "label": "t:settings.width", "default": "fit-content", "options": [ { "value": "fit-content", "label": "t:options.fit_content" }, { "value": "100%", "label": "t:options.full_width" } ] },
    { "type": "select", "id": "max_width", "label": "t:settings.max_width", "default": "normal", "options": [ { "value": "normal", "label": "t:options.normal" }, { "value": "none", "label": "t:options.none" } ] },
    { "type": "select", "id": "alignment", "label": "t:settings.alignment", "default": "left", "options": [ { "value": "left", "label": "t:options.left" }, { "value": "center", "label": "t:options.center" }, { "value": "right", "label": "t:options.right" } ] },
    { "type": "text", "id": "color", "label": "t:settings.color", "default": "var(--color-foreground)" },
    { "type": "checkbox", "id": "background", "label": "t:settings.background", "default": false },
    { "type": "color", "id": "background_color", "label": "t:settings.background_color", "default": "#00000026", "visible_if": "{{ block.settings.background }}" },
    { "type": "range", "id": "corner_radius", "label": "t:settings.corner_radius", "min": 0, "max": 32, "step": 1, "unit": "px", "default": 0, "visible_if": "{{ block.settings.background }}" },
    { "type": "range", "id": "padding-block-start", "label": "t:settings.top", "min": 0, "max": 50, "step": 1, "unit": "px", "default": 0 },
    { "type": "range", "id": "padding-block-end", "label": "t:settings.bottom", "min": 0, "max": 50, "step": 1, "unit": "px", "default": 0 },
    { "type": "range", "id": "padding-inline-start", "label": "t:settings.left", "min": 0, "max": 50, "step": 1, "unit": "px", "default": 0 },
    { "type": "range", "id": "padding-inline-end", "label": "t:settings.right", "min": 0, "max": 50, "step": 1, "unit": "px", "default": 0 }
  ]
}
{% endschema %}
